/* Скидання стилів */
@import url("reset.css");

/* Універсальний селектор */
* {
  color: #2c3e50;
}

/* За типом */
h1 {
  color: #0057b7;
}

/* За класом */
.text-highlight {
  color: #d62828;
}

.title-section {
  color: #6a4c93;
}

/* За ID */
#intro {
  color: #009e60;
}

/* За атрибутом */
[title] {
  color: #e63946;
}

/* За точним значенням атрибута */
[type="button"] {
  color: #f4a261;
}

/* За початковим значенням */
[alt^="карпати"] {
  color: #1d3557;
}

/* За частковим значенням */
[title*="пам’ять"] {
  color: #ffb703;
}

/* Комбінатор нащадка */
.section-language p {
  color: #3e3e3e;
}

/* Дочірній елемент */
ul > li {
  color: #0077b6;
}

/* Сусідній елемент */
h2 + p {
  color: #8e44ad;
}

/* Комбінатор усіх сусідів */
h2 ~ p {
  color: #2a9d8f;
}

/* Вкладеність */
.nav ul li a {
  color: #e76f51;
}
