@font-face {
	font-family: "BikhamCyrScript";
	src: url("../fonts/Bikham_Cyr_Script.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "BenguiatGothicC";
	src: url("../fonts/BenguiatGothicC.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "BenguiatGothicC";
	src: url("../fonts/BenguiatGothicC_Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}